extends layout

block content
    h1= chunk.title
    p= chunk.content
    h2 Posts
    ul
        each post in chunk.posts
            li
                a(href= post.url).title= post.title
                .author= post.author
                .score= post.score
                p= post.content

    h2